::-webkit-scrollbar {
    display: none;
    width: 0;
}

:root {
    --dark-blue: #0A3871;
    --white: #FFFFFF;
    --gray: #67808E;
    --light-blue: #E5E5E5;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background: var(--light-blue);
    /* height: 100hv; */
}


html {
    font-size: 62.5%;
    font-family: 'Inter';
    padding: 10px;

    min-width: 320px;
    max-width: 1400px;
    height: 100vh;
    width: 100vw;
    /* overflow-y: hidden; */
    /* overflow-x: hidden; */
}

.container {
    width: 100%;
    min-width: 320px;
    height: 700px;
}

header {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    min-width: 320px;
    height: 70px;
}

header div {
    position: absolute;
    right: 82%;
    width: 80px;
    height: 40px;
    background-image: url('../images/logo.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

.encrypt-area,
.decrypt-area {
    outline: none;
    border: none;
    padding: 0;
    width: 100%;
    resize: none;
    font-weight: 400;
    font-size: 3.2rem;
    line-height: 100%;
}

.decrypt-area{
    color: var(--gray);
}
.encrypt-exclamation {
    width: 100%;
    height: 30px;
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;

}

.encrypt-exclamation div {
    width: 20px;
    height: 20px;
    padding: 0;
    background-image: url('../images/exclamation.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.encrypt-exclamation p {
    margin-left: 10px;
    font-size: 1.2rem;
    font-weight: 400;
    font-style: normal;
    line-height: 150%;
    color: var(--gray);
}

.encrypt-btn {
    display: flex;
    flex-direction: column;
}

.encrypt-btn button,
.container-decrypt button {
    width: 100%;
    height: 60px;
    margin-top: 20px;
    padding: 0;
    border-radius: 20px;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 19.36px;
}

.encrypt-btn button:nth-child(1) {
    color: var(--white);
    background: var(--dark-blue);
}

.encrypt-btn button:nth-child(2) {
    margin-bottom: 20px;
    color: var(--gray);
}

.container-decrypt {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border-radius: 20px;
    padding: 20px;
    background: var(--white);
    border-radius: 40px;
}

.decrypt-area {
    padding: 10px;
    min-width: 0;
    border-radius: 20px;
    background: var(--white);
}

.container-decrypt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}



.decrypt-message {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    position: absolute;
    top: 40%;
    width: 90%;
    background: var(--white);

}

.text-one {
    text-align: center;
    font-weight: bold;
    font-size: 2.4rem;
    line-height: 120%;
    background: var(--white);

}

.text-two {
    text-align: center;
    border: none;
    font-size: 1.6rem;
    font-weight: 300;
    line-height: 24px;
    background: var(--white);
}

.decrypt-btn {
    color: var(--dark-blue);
    background: var(--white);
}


@media screen and (min-width: 40em) and (max-width: 63.9em) {
    header div {
        right: 92%;
    }

    .encrypt-btn {
        display: flex;
        flex-direction: row;
    }

    .encrypt-exclamation p {
        font-size: 1.6rem;
    }

    .encrypt-btn button:nth-child(1) {
        margin-right: 20px;
    }

    .text-one {
        bottom: calc(45%);
    }



}

@media screen and (min-width: 64em) {

    .container {
        display: grid;
        grid-template-columns: 10% 55% 30%;
        padding: 23px;
        width: 100vw;
        height: 100vh;
        gap: 20px;
    }

    header {
        min-width: 0;
        grid-column: 1 / 2;
    }

    header div {
        margin-top: 10px;
        width: 130px;
        height: 60px;
        position: static;
    }

    .container-encrypt {
        width: 80%;
        margin: 0 auto;
    }

    .encrypt-area {
        width: 100%;
        height: 70%;
        margin-top: 80px;
    }

    .encrypt-exclamation {
        width: 100%;
        margin: 0 auto;
        margin-top: 12%;
    }

    .encrypt-exclamation p {
        font-size: 2rem;
    }

    .encrypt-btn {
        width: 100%;
        margin: 0 auto;
        flex-direction: row;
    }

    .encrypt-btn button:nth-child(1) {

        margin-right: 20px;
        height: 70px;
        font-size: 2.5rem;
    }

    .encrypt-btn button:nth-child(2) {
        height: 70px;
        color: var(--dark-blue);
        font-size: 2.5rem;

    }


    .container-decrypt {
        margin-top: 12%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        position: relative;
        height: 95%;
        width: 100%;
    }

    .decrypt-area {
        min-width: 0;
        height: 40rem;

    }

    .decrypt-img {
        display: block;
        position: absolute;
        width: 200px;
        height: 200px;
        background-color: var(--white);
        background-image: url('../images/muneco.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        top: 21%;

    }

    .decrypt-message {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 50%;
        /* margin-top: 15px; */
        text-align: center;
        border: 2px solid;
        border-radius: 0;
        height: 150px;
        background: var(--white);
    }

    .text-one {
        position: static;
        font-size: 1.8rem;
    }

    .text-two {
        position: static;
        font-size: 1.4rem;
    }



    .container-decrypt button {
        /* margin-bottom: 1.2rem; */
        height: 70px;
        color: var(--dark-blue);
        font-size: 2.5rem;
        background: var(--light-blue);
    }

}